.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top20 {
    margin-top: 20px;
}

.top22 {
    margin-top: 22px;
}

.top23 {
    margin-top: 22px;
}

.top25 {
    margin-top: 25px;
}

.top30 {
    margin-top: 30px;
}

.left5 {
    margin-left: 5px;
}

.left7 {
    margin-left: 7px;
}

.left10 {
    margin-left: 10px;
}

.left15 {
    margin-left: 15px;
}

.left17 {
    margin-left: 17px;
}

.left20 {
    margin-left: 20px;
}

.left25 {
    margin-left: 25px;
}

.left30 {
    margin-left: 30px;
}

.right5 {
    margin-right: 5px;
}

.right7 {
    margin-right: 7px;
}

.right10 {
    margin-right: 10px;
}

.right15 {
    margin-right: 15px;
}

.right17 {
    margin-right: 17px;
}

.right20 {
    margin-right: 20px;
}

.right25 {
    margin-right: 25px;
}

.right30 {
    margin-right: 30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom17 {
    margin-bottom: 17px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom25 {
    margin-bottom: 25px;
}

.bottom30 {
    margin-bottom: 30px;
}

.top-5 {
    margin-top: -5px;
}

.top-7 {
    margin-top: -7px;
}

.top-10 {
    margin-top: -10px;
}

.top-15 {
    margin-top: -15px;
}

.top-17 {
    margin-top: -17px;
}

.top-20 {
    margin-top: -20px;
}

.top-25 {
    margin-top: -25px;
}

.top-30 {
    margin-top: -30px;
}

.left-5 {
    margin-left: -5px;
}

.left-7 {
    margin-left: -7px;
}

.left-10 {
    margin-left: -10px;
}

.left-15 {
    margin-left: -15px;
}

.left-17 {
    margin-left: -17px;
}

.left-20 {
    margin-left: -20px;
}

.left-25 {
    margin-left: -25px;
}

.left-30 {
    margin-left: -30px;
}

.left-40 {
    margin-left: -40px;
}

.right-5 {
    margin-right: 5px;
}

.right-7 {
    margin-right: 7px;
}

.right-10 {
    margin-right: 10px;
}

.right-15 {
    margin-right: 15px;
}

.right-17 {
    margin-right: 17px;
}

.right-20 {
    margin-right: 20px;
}

.right-25 {
    margin-right: 25px;
}

.right-30 {
    margin-right: 30px;
}

.bottom-5 {
    margin-bottom: 5px;
}

.bottom-7 {
    margin-bottom: 7px;
}

.bottom-10 {
    margin-bottom: 10px;
}

.bottom-15 {
    margin-bottom: 15px;
}

.bottom-17 {
    margin-bottom: 17px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.bottom-25 {
    margin-bottom: 25px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.pright0 {
    padding-right: 0px;
}

.pright5 {
    padding-right: 5px;
}

.pright10 {
    padding-right: 10px;
}

.pright15 {
    padding-right: 15px;
}

.pright20 {
    padding-right: 20px;
}

.pright25 {
    padding-right: 25px;
}

.pleft5 {
    padding-left: 5px;
}

.pleft10 {
    padding-left: 10px;
}

.pleft15 {
    padding-left: 15px;
}

.pleft20 {
    padding-left: 20px;
}

.pleft25 {
    padding-left: 25px;
}

.pleft30 {
    padding-left: 30px;
}

.ptop5 {
    padding-top: 5px;
}

.ptop10 {
    padding-top: 10px;
}

.ptop15 {
    padding-top: 15px;
}

.ptop20 {
    padding-top: 20px;
}

.ptop25 {
    padding-top: 25px;
}

.ptop30 {
    padding-top: 30px;
}

.pbottom5 {
    padding-bottom: 5px;
}

.pbottom10 {
    padding-bottom: 10px;
}

.pbottom15 {
    padding-bottom: 15px;
}

.pbottom20 {
    padding-bottom: 20px;
}

.pbottom25 {
    padding-bottom: 25px;
}

.pbottom30 {
    padding-bottom: 30px;
}

.ptop-5 {
    padding-top: -5px;
}

.ptop-10 {
    padding-top: -10px;
}

.ptop-15 {
    padding-top: -15px;
}

.ptop-20 {
    padding-top: -20px;
}

.ptop-25 {
    padding-top: -25px;
}

.ptop-30 {
    padding-top: -30px;
}

.pbottom-5 {
    padding-bottom: -5px;
}

.pbottom-10 {
    padding-bottom: -10px;
}

.pbottom-15 {
    padding-bottom: -15px;
}

.pbottom-20 {
    padding-bottom: -20px;
}

.pbottom-25 {
    padding-bottom: -25px;
}

.pbottom-30 {
    padding-bottom: -30px;
}

.pright-5 {
    padding-right: -5px;
}

.pright-10 {
    padding-right: -10px;
}

.pright-15 {
    padding-right: -15px;
}

.pright-20 {
    padding-right: -20px;
}

.pright-25 {
    padding-right: -25px;
}

.pleft-5 {
    padding-left: -5px;
}

.pleft-10 {
    padding-left: -10px;
}

.pleft-15 {
    padding-left: -15px;
}

.pleft-20 {
    padding-left: -20px;
}

.pleft-25 {
    padding-left: -25px;
}

.pleft-30 {
    padding-left: -30px;
}